<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="bulma/bulma.css">
  <title>FlavorFinder</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/style.css">

</head>

<body>
    <div>
        <header>
            <h1>
                <a href="/">FlavorFinder</a>
            </h1>
            <p>main handlebar file</p>
            <nav>
                {{#if logged_in}}
                <a href="/favorites">Favorites</a> |
                <button class="btn" id="logout">logout</button>
                {{else}}
                <a href="/login">LogIn</a>
                {{/if}}
            </nav>
        </header>

        <main>
            {{{ body }}}

        </main>
        <footer>

        </footer>
          {{#if logged_in}}
            <script src="/js/logout.js"> </script>
          {{/if}}
    </div>
        <script src="./js/recipes.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/handlebars/dist/handlebars.min.js"></script>
</body>
</html>