<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FlavorFinder</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div>
        <header>
            <h1>
                <a href="/">FlavorFinder</a>
            </h1>
            <nav></nav>
        </header>

        <main>
            {{{ body }}}

        </main>
        <footer>

        </footer>
    </div>
        <script src="./js/recipes.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/handlebars/dist/handlebars.min.js"></script>
</body>
</html>