<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FlavorFinder</title>
</head>

<body>
    <div>
        <header>
            <h1>
                <a href="/">FlavorFinder</a>
            </h1>
            <p>main handlebar file</p>
            <nav>
                {{#if logged_in}}
                <a href="/favorites">Favorites</a>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>
        </header>


 {{!-- {{#if logged_in}} --}}
        <main>
            {{{ body }}}
        </main>
{{!-- {{else}} --}}
<p> You're not logged in.</p>
{{!-- {{/if}} --}}
        <footer>

        </footer>
    </div>
</body>


</html>