<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="bulma/bulma.css">
  <title>FlavorFinder</title>
</head>

<body>
    <div>
        <header>
            <h1>
                <a href="/">FlavorFinder</a>
            </h1>
            <p>main handlebar file</p>
            <nav>
                {{#if logged_in}}
                <a href="/favorites">Favorites</a> |
                <button class="btn" id="logout">logout</button>
                {{else}}
                <a href="/login">LogIn</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>

        </footer>
          {{#if logged_in}}
            <script src="/js/logout.js"> </script>
          {{/if}}
    </div>
</body>


</html>