<div>
    <h2>Find your flavor!</h2>
</div>

<form id="recipe-form" action="/results" method="get">
    <select name="cuisineType" id="cuisineType">
        <option value="American">American</option>
        <option value="Italian">Italian</option>
        <option value="Italian">Chinese</option>
        <option value="Italian">Indian</option>
        <option value="Italian">Korean</option>
        <option value="Italian">Greek</option>
        <option value="Italian">Vietnamese</option>
        <option value="Italian">Japanese</option>
        <option value="Italian">Mexican</option>
    </select>
    <button id='recipe-button' type="submit">Search</button>
</form>

<script src="./js/recipes.js"></script>

</div>

