<div>
    <h2>Find your flavor!</h2>
</div>
 
<form id="recipe-form" action="/results" method="get">
    <select name="cuisineType" id="cuisineType">
        <option value="American">American</option>
        <option value="Italian">Italian</option>
        <option value="Chinese">Chinese</option>
        <option value="Indian">Indian</option>
        <option value="Korean">Korean</option>
        <option value="Greek">Greek</option>
        <option value="Vietnamese">Vietnamese</option>
        <option value="Japanese">Japanese</option>
        <option value="Mexican">Mexican</option>
    </select>
    <button id='recipe-button' type="submit">Search</button>
</form>

<script src="./js/recipes.js"></script>

</div>

